1.	По уровню загрязнения воздуха – объедениям датасеты за все 4-е квартала 2021 г. (waqi-covid19-airqualitydata-2021Q1 … 4 . cxv) в один датасет

In [27]:
import pandas as pd    
from pathlib import Path
import os

In [28]:
PREPARED_DATASET_Polution_PATH = 'joined_dataset_pollution.csv'
Start_datasets_pollution_PATH = "./Start_datasets_pollution"

In [29]:
os.listdir(Start_datasets_pollution_PATH)

['waqi-covid19-airqualitydata-2021Q1.csv',
 'waqi-covid19-airqualitydata-2021Q2.csv',
 'waqi-covid19-airqualitydata-2021Q3.csv',
 'waqi-covid19-airqualitydata-2021Q4.csv']

In [30]:
data_dir = Path(Start_datasets_pollution_PATH)

df = pd.concat([pd.read_csv(f) for f in data_dir.glob("*.csv")], ignore_index=True)
df

,Date,Country,City,Specie,count,min,max,median,variance
0,2021-01-28,AE,Abu Dhabi,so2,120,2.1,13.2,4.1,49.87
1,2021-02-13,AE,Abu Dhabi,so2,120,2.6,22.3,4.6,101.13
2,2021-03-14,AE,Abu Dhabi,so2,120,2.1,12.2,4.1,34.05
3,2021-03-21,AE,Abu Dhabi,so2,115,3.6,14.7,5.6,49.80
4,2021-02-11,AE,Abu Dhabi,so2,105,2.1,16.3,4.6,69.70
...,...,...,...,...,...,...,...,...,...
2155803,2022-01-02,IN,Kolkata,pm25,60,147.0,212.0,167.0,1660.24
2155804,2021-11-14,IN,Kolkata,pm25,264,57.0,162.0,105.0,7079.52
2155805,2021-11-24,IN,Kolkata,pm25,239,55.0,205.0,165.0,3726.12
2155806,2021-12-10,IN,Kolkata,pm25,239,52.0,282.0,145.0,13453.30
2155807,2021-12-22,IN,Kolkata,pm25,248,142.0,417.0,180.0,21134.80

In [31]:
condition = '2021'
def dates_unique(df, condition): 
    dates_unique = df.Date.unique()
    for i in dates_unique:
        if condition in i:
            pass
        else:
            print(i)
condition = '2021'            
dates_unique(df, condition)

2020-12-30
2020-12-28
2020-12-29
2020-12-31
2022-01-01
2022-01-02

In [32]:
#Видим, что поле дата все равно папопали даты содержащие 2022 и 2020 год убираем их, оставляя в поле только 2021 год

df = df[df['Date'].apply(lambda x: condition in x)]

In [33]:
# перепроверяем
dates_unique(df, condition)

Теперь все в порядке и в датафреме остались данные только за только 2021 год

In [34]:
# Сохраняем датафрем в файл
df.to_csv(PREPARED_DATASET_Polution_PATH, index=False)