# Работаем с полем дата в датасетах - приводим все к унифицированной форме для дальнейшей возможности сравнить данные из разных датасетов

In [1]:
import pandas as pd
import datetime
import time

In [2]:
PREPARED_DATASET_PATH = 'joined_dataset_pollution.csv'
PREPARED_DATASET_PATH_2 = 'joined_dataset_COVID_1.csv'

Сначала Работаем с joined_dataset_pollution

In [3]:
df = pd.read_csv(PREPARED_DATASET_PATH)
df = df.sort_values(by='Date')
df

,Date,Country,City,Specie,count,min,max,median,variance
210273,2021-01-01,FR,Saint-Étienne,temperature,96,1.0,2.0,1.0,1.68
168487,2021-01-01,PL,Katowice,so2,94,3.1,17.6,8.8,106.62
132241,2021-01-01,RS,Novi Sad,so2,71,3.3,30.5,9.0,224.44
86379,2021-01-01,KR,Busan,humidity,637,39.0,68.0,51.0,588.90
158216,2021-01-01,DE,Freiburg,wind-speed,43,0.2,3.7,1.9,11.93
...,...,...,...,...,...,...,...,...,...
2097557,2021-12-31,BA,Tuzla,o3,117,0.4,17.8,3.4,147.35
2011917,2021-12-31,AT,Linz,dew,39,6.0,10.4,9.5,12.66
2034069,2021-12-31,AU,Darwin,no2,69,0.3,3.6,1.1,11.98
1883719,2021-12-31,ES,Oviedo,humidity,261,31.0,91.3,61.0,1623.29
2006508,2021-12-31,MO,Macau,co,135,6.6,15.0,9.4,21.33

Смотрим уникальные значения по полю Дата, чтобы убедится, что все даты представлены в одном формате

In [4]:
dates_unique_1 = df.Date.unique()
print(dates_unique_1)
print(len(dates_unique_1))

['2021-01-01' '2021-01-02' '2021-01-03' '2021-01-04' '2021-01-05'
 '2021-01-06' '2021-01-07' '2021-01-08' '2021-01-09' '2021-01-10'
 '2021-01-11' '2021-01-12' '2021-01-13' '2021-01-14' '2021-01-15'
 '2021-01-16' '2021-01-17' '2021-01-18' '2021-01-19' '2021-01-20'
 '2021-01-21' '2021-01-22' '2021-01-23' '2021-01-24' '2021-01-25'
 '2021-01-26' '2021-01-27' '2021-01-28' '2021-01-29' '2021-01-30'
 '2021-01-31' '2021-02-01' '2021-02-02' '2021-02-03' '2021-02-04'
 '2021-02-05' '2021-02-06' '2021-02-07' '2021-02-08' '2021-02-09'
 '2021-02-10' '2021-02-11' '2021-02-12' '2021-02-13' '2021-02-14'
 '2021-02-15' '2021-02-16' '2021-02-17' '2021-02-18' '2021-02-19'
 '2021-02-20' '2021-02-21' '2021-02-22' '2021-02-23' '2021-02-24'
 '2021-02-25' '2021-02-26' '2021-02-27' '2021-02-28' '2021-03-01'
 '2021-03-02' '2021-03-03' '2021-03-04' '2021-03-05' '2021-03-06'
 '2021-03-07' '2021-03-08' '2021-03-09' '2021-03-10' '2021-03-11'
 '2021-03-12' '2021-03-13' '2021-03-14' '2021-03-15' '2021-03-16'
 '2021-03-17' '2021-03-18' '2021-03-19' '2021-03-20' '2021-03-21'
 '2021-03-22' '2021-03-23' '2021-03-24' '2021-03-25' '2021-03-26'
 '2021-03-27' '2021-03-28' '2021-03-29' '2021-03-30' '2021-03-31'
 '2021-04-01' '2021-04-02' '2021-04-03' '2021-04-04' '2021-04-05'
 '2021-04-06' '2021-04-07' '2021-04-08' '2021-04-09' '2021-04-10'
 '2021-04-11' '2021-04-12' '2021-04-13' '2021-04-14' '2021-04-15'
 '2021-04-16' '2021-04-17' '2021-04-18' '2021-04-19' '2021-04-20'
 '2021-04-21' '2021-04-22' '2021-04-23' '2021-04-24' '2021-04-25'
 '2021-04-26' '2021-04-27' '2021-04-28' '2021-04-29' '2021-04-30'
 '2021-05-01' '2021-05-02' '2021-05-03' '2021-05-04' '2021-05-05'
 '2021-05-06' '2021-05-07' '2021-05-08' '2021-05-09' '2021-05-10'
 '2021-05-11' '2021-05-12' '2021-05-13' '2021-05-14' '2021-05-15'
 '2021-05-16' '2021-05-17' '2021-05-18' '2021-05-19' '2021-05-20'
 '2021-05-21' '2021-05-22' '2021-05-23' '2021-05-24' '2021-05-25'
 '2021-05-26' '2021-05-27' '2021-05-28' '2021-05-29' '2021-05-30'
 '2021-05-31' '2021-06-01' '2021-06-02' '2021-06-03' '2021-06-04'
 '2021-06-05' '2021-06-06' '2021-06-07' '2021-06-08' '2021-06-09'
 '2021-06-10' '2021-06-11' '2021-06-12' '2021-06-13' '2021-06-14'
 '2021-06-15' '2021-06-16' '2021-06-17' '2021-06-18' '2021-06-19'
 '2021-06-20' '2021-06-21' '2021-06-22' '2021-06-23' '2021-06-24'
 '2021-06-25' '2021-06-26' '2021-06-27' '2021-06-28' '2021-06-29'
 '2021-06-30' '2021-07-01' '2021-07-02' '2021-07-03' '2021-07-04'
 '2021-07-05' '2021-07-06' '2021-07-07' '2021-07-08' '2021-07-09'
 '2021-07-10' '2021-07-11' '2021-07-12' '2021-07-13' '2021-07-14'
 '2021-07-15' '2021-07-16' '2021-07-17' '2021-07-18' '2021-07-19'
 '2021-07-20' '2021-07-21' '2021-07-22' '2021-07-23' '2021-07-24'
 '2021-07-25' '2021-07-26' '2021-07-27' '2021-07-28' '2021-07-29'
 '2021-07-30' '2021-07-31' '2021-08-01' '2021-08-02' '2021-08-03'
 '2021-08-04' '2021-08-05' '2021-08-06' '2021-08-07' '2021-08-08'
 '2021-08-09' '2021-08-10' '2021-08-11' '2021-08-12' '2021-08-13'
 '2021-08-14' '2021-08-15' '2021-08-16' '2021-08-17' '2021-08-18'
 '2021-08-19' '2021-08-20' '2021-08-21' '2021-08-22' '2021-08-23'
 '2021-08-24' '2021-08-25' '2021-08-26' '2021-08-27' '2021-08-28'
 '2021-08-29' '2021-08-30' '2021-08-31' '2021-09-01' '2021-09-02'
 '2021-09-03' '2021-09-04' '2021-09-05' '2021-09-06' '2021-09-07'
 '2021-09-08' '2021-09-09' '2021-09-10' '2021-09-11' '2021-09-12'
 '2021-09-13' '2021-09-14' '2021-09-15' '2021-09-16' '2021-09-17'
 '2021-09-18' '2021-09-19' '2021-09-20' '2021-09-21' '2021-09-22'
 '2021-09-23' '2021-09-24' '2021-09-25' '2021-09-26' '2021-09-27'
 '2021-09-28' '2021-09-29' '2021-09-30' '2021-10-01' '2021-10-02'
 '2021-10-03' '2021-10-25' '2021-10-26' '2021-10-27' '2021-10-28'
 '2021-10-29' '2021-10-30' '2021-10-31' '2021-11-01' '2021-11-02'
 '2021-11-03' '2021-11-04' '2021-11-05' '2021-11-06' '2021-11-07'
 '2021-11-08' '2021-11-09' '2021-11-10' '2021-11-11' '2021-11-12'
 '2021-11-13' '2021-11-14' '2021-11-15' '2021-11-16' '2021-11-17'
 '2021-11-18' '2021-11-19' '2021-11-20' '2021-11-21' '2021-11-22'
 '2021-11-23' '2021-11-24' '2021-11-25' '2021-11-26' '2021-11-27'
 '2021-11-28' '2021-11-29' '2021-11-30' '2021-12-01' '2021-12-02'
 '2021-12-03' '2021-12-04' '2021-12-05' '2021-12-06' '2021-12-07'
 '2021-12-08' '2021-12-09' '2021-12-10' '2021-12-11' '2021-12-12'
 '2021-12-13' '2021-12-14' '2021-12-15' '2021-12-16' '2021-12-17'
 '2021-12-18' '2021-12-19' '2021-12-20' '2021-12-21' '2021-12-22'
 '2021-12-23' '2021-12-24' '2021-12-25' '2021-12-26' '2021-12-27'
 '2021-12-28' '2021-12-29' '2021-12-30' '2021-12-31']
344

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2122878 entries, 210273 to 2006508
Data columns (total 9 columns):
 #   Column    Dtype
---  ------    -----
 0   Date      object
 1   Country   object
 2   City      object
 3   Specie    object
 4   count     int64
 5   min       float64
 6   max       float64
 7   median    float64
 8   variance  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 162.0+ MB

In [6]:
# функция преобразования даты в кол-во секунд с начала эпохи (абсолютное время)
def abs_time(date):
#     print(date)
    date = str(date.replace('-',''))
    abs_time = time.mktime(time.strptime(date, "%Y%m%d"))
    abs_time = int(abs_time)
#     print(abs_time)
    return abs_time

In [7]:
# Проверка функции:
date1 = '2021-01-03'
a = abs_time(date1)
a

1609621200

In [8]:
%%time
#Добавляем сттолбец с абсолютным временем в датафрейм

df['Absolute_time'] = df['Date'].apply(abs_time)
df

Wall time: 31.9 s

,Date,Country,City,Specie,count,min,max,median,variance,Absolute_time
210273,2021-01-01,FR,Saint-Étienne,temperature,96,1.0,2.0,1.0,1.68,1609448400
168487,2021-01-01,PL,Katowice,so2,94,3.1,17.6,8.8,106.62,1609448400
132241,2021-01-01,RS,Novi Sad,so2,71,3.3,30.5,9.0,224.44,1609448400
86379,2021-01-01,KR,Busan,humidity,637,39.0,68.0,51.0,588.90,1609448400
158216,2021-01-01,DE,Freiburg,wind-speed,43,0.2,3.7,1.9,11.93,1609448400
...,...,...,...,...,...,...,...,...,...,...
2097557,2021-12-31,BA,Tuzla,o3,117,0.4,17.8,3.4,147.35,1640898000
2011917,2021-12-31,AT,Linz,dew,39,6.0,10.4,9.5,12.66,1640898000
2034069,2021-12-31,AU,Darwin,no2,69,0.3,3.6,1.1,11.98,1640898000
1883719,2021-12-31,ES,Oviedo,humidity,261,31.0,91.3,61.0,1623.29,1640898000
2006508,2021-12-31,MO,Macau,co,135,6.6,15.0,9.4,21.33,1640898000

In [9]:
#сохраняем датасет под индексом 2
df.to_csv('joined_dataset_pollution_2.csv', index=False)

# Теперь Работаем с joined_dataset_COVID_1

In [10]:
df_2 = pd.read_csv(PREPARED_DATASET_PATH_2)
df_2

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.939110,67.709953,52513,2201,41727.0,8585.0,Afghanistan,134.896578,4.191343
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.153300,20.168300,58316,1181,33634.0,23501.0,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.033900,1.659600,99897,2762,67395.0,29740.0,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.506300,1.521800,8117,84,7463.0,570.0,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.202700,17.873900,17568,405,11146.0,6017.0,Angola,53.452981,2.305328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454381,NaN,NaN,Unknown,Spain,2021-04-25 23:20:49,NaN,NaN,0,0,NaN,NaN,"Unknown, Spain",NaN,NaN
1454382,29147.0,Nodaway,Missouri,US,2021-12-19 23:20:51,40.360798,-94.881330,4141,37,NaN,NaN,"Nodaway, Missouri, US",18744.341843,0.893504
1454383,90032.0,Unassigned,Nevada,US,2021-01-24 23:22:19,NaN,NaN,0,0,NaN,NaN,"Unassigned, Nevada, US",NaN,NaN
1454384,72888.0,Out of PR,Puerto Rico,US,2021-10-10 23:21:42,NaN,NaN,434,0,NaN,NaN,"Out of PR, Puerto Rico, US",NaN,0.000000
1454385,90054.0,Unassigned,West Virginia,US,2021-07-31 23:21:38,NaN,NaN,0,0,NaN,NaN,"Unassigned, West Virginia, US",NaN,NaN

Меняем название Last_Update на Date

In [11]:
df_2.rename(columns={'Last_Update': 'Date'}, inplace=True)

In [12]:
dates_unique_2 = df_2.Date.unique()
print(dates_unique_2)
print(len(dates_unique_2))

['2021-01-02 05:22:33' '2021-04-02 15:13:53' '2021-01-03 05:22:52'
 '2021-01-04 05:22:02' '2021-01-05 05:21:49' '2021-01-06 05:22:16'
 '2021-01-07 05:22:03' '2021-01-08 05:22:42' '2021-01-09 05:22:18'
 '2021-01-08 23:22:27' '2021-01-10 05:22:12' '2021-01-11 05:21:50'
 '2021-01-12 05:22:15' '2021-01-13 05:22:15' '2021-01-14 05:22:32'
 '2021-01-15 05:22:24' '2021-01-15 17:22' '2021-01-16 05:22:40'
 '2021-01-17 05:22:17' '2021-01-18 05:22:34' '2021-01-19 05:22:15'
 '2021-01-20 05:21:54' '2021-01-21 05:22:01' '2021-01-22 05:22:10'
 '2021-01-23 05:22:03' '2021-01-24 05:22:35' '2021-01-25 05:22:16'
 '2021-01-24 23:22:19' '2021-01-26 05:22:02' '2021-01-27 05:23:41'
 '2021-01-28 05:22:24' '2021-01-29 05:22:23' '2021-01-30 05:22:49'
 '2021-01-31 05:22:42' '2021-02-01 05:22:53' '2021-02-02 05:22:49'
 '2021-02-03 05:22:52' '2021-02-04 05:22:26' '2021-02-05 05:22:38'
 '2021-02-06 05:23:55' '2021-02-07 05:23:00' '2021-02-08 05:22:39'
 '2021-02-09 05:23:30' '2021-02-10 05:22:41' '2021-02-11 05:23:55'
 '2021-02-12 05:23:29' '2021-02-13 05:22:12' '2021-02-14 05:23:43'
 '2021-02-15 05:24:49' '2021-02-14 23:24:19' '2021-02-16 05:24:38'
 '2021-02-17 05:23:10' '2021-02-18 05:22:58' '2021-02-19 05:24:16'
 '2021-02-20 05:22:51' '2021-02-21 05:24:33' '2021-02-22 05:24:21'
 '2021-02-23 05:23:41' '2021-02-24 05:29:16' '2021-02-25 05:24:57'
 '2021-02-26 05:22:40' '2021-02-27 05:22:28' '2021-02-28 05:22:20'
 '2021-03-01 05:23:01' '2021-03-02 05:23:30' '2021-03-03 05:23:28'
 '2021-03-04 05:24:24' '2021-03-05 05:26:29' '2021-03-06 04:23:41'
 '2021-03-07 05:21:54' '2021-03-08 05:24:48' '2021-03-09 05:28:19'
 '2021-03-10 05:24:35' '2021-03-11 05:25:48' '2021-03-12 05:26:50'
 '2021-03-13 05:25:15' '2021-03-14 05:25:37' '2021-03-13 23:25:30'
 '2021-03-15 05:25:51' '2021-03-14 23:25:24' '2021-03-16 05:25:13'
 '2021-03-17 05:25:07' '2021-03-18 05:26:22' '2021-03-19 05:26:09'
 '2021-03-20 05:25:46' '2021-03-21 05:25:44' '2021-03-22 05:25:43'
 '2021-03-23 05:26:18' '2021-03-24 05:25:40' '2021-03-25 05:27:00'
 '2021-03-26 05:26:55' '2021-03-27 05:25:04' '2021-03-28 05:28:10'
 '2021-03-29 04:28:35' '2021-03-30 04:26:23' '2021-03-31 04:26:25'
 '2021-04-01 04:27:05' '2021-04-02 04:20:36' '2021-04-03 04:20:44'
 '2021-04-04 04:20:49' '2021-04-05 04:20:35' '2021-04-06 04:20:32'
 '2021-04-07 04:20:53' '2021-04-08 04:21:13' '2021-04-09 04:21:13'
 '2021-04-10 04:20:59' '2021-04-11 04:20:56' '2021-04-12 04:21:00'
 '2021-04-13 04:20:37' '2021-04-14 04:20:41' '2021-04-15 04:20:54'
 '2021-04-16 04:20:46' '2021-04-17 04:20:40' '2021-04-18 04:20:41'
 '2021-04-19 04:20:57' '2021-04-20 04:20:41' '2021-04-21 04:21:14'
 '2021-04-22 04:20:53' '2021-04-23 04:20:52' '2021-04-24 04:20:38'
 '2021-04-25 04:20:32' '2021-04-26 04:21:04' '2021-04-25 23:20:49'
 '2021-04-27 04:20:52' '2021-04-28 04:20:32' '2021-04-29 04:20:55'
 '2021-04-30 04:21:03' '2021-05-01 04:20:47' '2021-05-02 04:20:48'
 '2021-05-03 04:20:39' '2021-05-04 04:20:34' '2021-05-05 04:20:43'
 '2021-05-06 04:20:38' '2021-05-07 04:20:40' '2021-05-08 04:21:04'
 '2021-05-09 04:20:35' '2021-05-10 04:20:38' '2021-05-11 04:20:41'
 '2021-05-12 04:21:29' '2021-05-13 04:20:51' '2021-05-14 04:20:41'
 '2021-05-15 04:20:58' '2021-05-16 04:20:49' '2021-05-17 04:20:34'
 '2021-05-18 04:20:33' '2021-05-19 04:20:42' '2021-05-20 04:21:05'
 '2021-05-21 04:20:43' '2021-05-20 23:21:01' '2021-05-22 04:20:45'
 '2021-05-23 04:20:51' '2021-05-24 04:20:53' '2021-05-25 04:21:08'
 '2021-05-26 04:20:35' '2021-05-27 04:20:59' '2021-05-28 04:20:36'
 '2021-05-29 04:20:41' '2021-05-30 04:20:55' '2021-05-29 23:20:48'
 '2021-05-31 03:08:59' '2021-06-01 04:23:09' '2021-06-02 04:24:34'
 '2021-06-01 23:23:52' '2021-06-03 04:23:32' '2021-06-04 04:23:37'
 '2021-06-05 04:23:03' '2021-06-06 04:24:03' '2021-06-07 04:22:51'
 '2021-06-08 04:22:35' '2021-06-09 04:23:31' '2021-06-10 04:23:17'
 '2021-06-11 04:23:20' '2021-06-12 04:22:22' '2021-06-13 04:22:44'
 '2021-06-12 23:23:35' '2021-06-14 04:22:46' '2021-06-15 04:22:22'
 '2021-06-16 04:22:32' '2021-06-17 04:22:36' '2021-06-18 04:22:16'
 '2021-06-19 04:22:33' '2021-06-20 04:21:48' '2021-06-21 04:21:41'
 '2021-06-22 04:21:34' '2021-06-23 04:21:46' '2021-06-24 04:21:55'
 '2021-06-23 23:21:45' '2021-06-25 04:21:33' '2021-06-26 04:21:43'
 '2021-06-27 04:21:39' '2021-06-28 04:21:29' '2021-06-29 04:21:28'
 '2021-06-28 23:22:03' '2021-06-30 04:21:41' '2021-06-29 23:21:50'
 '2021-07-01 04:21:19' '2021-06-30 23:21:47' '2021-07-02 04:21:47'
 '2021-07-03 04:21:37' '2021-07-04 04:21:38' '2021-07-05 04:21:28'
 '2021-07-06 04:21:32' '2021-07-07 04:21:20' '2021-07-06 23:21:19'
 '2021-07-08 04:21:26' '2021-07-09 04:21:21' '2021-07-10 04:21:25'
 '2021-07-09 23:21:16' '2021-07-11 04:21:43' '2021-07-12 04:21:34'
 '2021-07-13 04:21:18' '2021-07-14 04:21:35' '2021-07-15 04:21:48'
 '2021-07-14 23:21:41' '2021-07-16 04:21:22' '2021-07-17 04:22:22'
 '2021-07-18 04:22:07' '2021-07-19 04:21:24' '2021-07-20 04:21:48'
 '2021-07-21 04:21:40' '2021-07-22 04:21:19' '2021-07-23 04:21:29'
 '2021-07-24 00:21:36' '2021-07-25 04:22:12' '2021-07-26 04:21:28'
 '2021-07-27 04:21:18' '2021-07-26 23:21:33' '2021-07-28 04:21:39'
 '2021-07-29 04:21:33' '2021-07-30 04:21:34' '2021-07-31 04:21:35'
 '2021-08-01 04:21:50' '2021-07-31 23:21:38' '2021-08-02 04:21:36'
 '2021-08-03 04:21:39' '2021-08-04 04:21:25' '2021-08-05 04:21:51'
 '2021-08-06 04:21:18' '2021-08-07 04:21:30' '2021-08-08 04:21:33'
 '2021-08-09 04:21:24' '2021-08-10 04:21:27' '2021-08-11 04:21:58'
 '2021-08-12 04:21:25' '2021-08-13 04:21:24' '2021-08-14 04:21:25'
 '2021-08-15 04:21:41' '2021-08-16 04:21:31' '2021-08-17 04:21:49'
 '2021-08-18 04:21:35' '2021-08-19 04:21:15' '2021-08-20 04:21:33'
 '2021-08-19 23:20:57' '2021-08-21 04:21:38' '2021-08-22 04:21:29'
 '2021-08-23 04:21:27' '2021-08-24 04:21:19' '2021-08-25 04:21:41'
 '2021-08-26 04:21:28' '2021-08-27 04:21:37' '2021-08-28 04:21:28'
 '2021-08-29 04:21:14' '2021-08-30 04:21:23' '2021-08-31 04:21:46'
 '2021-09-01 04:21:38' '2021-09-02 04:21:15' '2021-09-03 04:21:20'
 '2021-09-04 04:21:28' '2021-09-05 04:21:33' '2021-09-06 04:21:22'
 '2021-09-07 04:21:35' '2021-09-08 04:21:31' '2021-09-09 04:21:27'
 '2021-09-10 04:21:20' '2021-09-11 04:21:30' '2021-09-12 04:21:13'
 '2021-09-13 04:21:15' '2021-09-14 04:21:41' '2021-09-15 03:22:37'
 '2021-09-16 04:22:19' '2021-09-17 04:21:46' '2021-09-18 04:21:24'
 '2021-09-19 04:21:34' '2021-09-20 04:21:22' '2021-09-21 04:21:26'
 '2021-09-22 04:21:45' '2021-09-23 04:21:43' '2021-09-24 04:21:44'
 '2021-09-25 04:21:31' '2021-09-26 04:21:29' '2021-09-27 04:21:16'
 '2021-09-28 04:21:28' '2021-09-29 04:21:45' '2021-09-30 04:21:20'
 '2021-10-01 04:21:35' '2021-10-02 04:21:25' '2021-10-03 04:21:24'
 '2021-10-04 04:21:31' '2021-10-05 04:21:27' '2021-10-06 04:21:33'
 '2021-10-07 04:21:36' '2021-10-08 04:21:25' '2021-10-09 04:21:34'
 '2021-10-10 04:21:38' '2021-10-11 04:21:31' '2021-10-10 23:21:42'
 '2021-10-12 04:21:09' '2021-10-13 04:20:51' '2021-10-14 04:21:29'
 '2021-10-15 04:21:26' '2021-10-16 04:21:15' '2021-10-17 04:21:29'
 '2021-10-18 04:21:10' '2021-10-19 04:20:54' '2021-10-20 04:21:00'
 '2021-10-21 04:21:18' '2021-10-22 04:21:14' '2021-10-23 04:21:32'
 '2021-10-24 04:21:22' '2021-10-25 04:22:31' '2021-10-26 04:22:09'
 '2021-10-27 04:22:32' '2021-10-28 04:22:08' '2021-10-29 04:22:03'
 '2021-10-30 04:22:03' '2021-10-31 04:22:08' '2021-11-01 04:22:01'
 '2021-11-02 04:22:03' '2021-11-03 06:22:09' '2021-11-04 04:22:20'
 '2021-11-05 04:21:54' '2021-11-06 04:21:51' '2021-11-07 04:21:53'
 '2021-11-08 04:21:43' '2021-11-09 04:21:36' '2021-11-10 04:21:38'
 '2021-11-11 04:21:45' '2021-11-10 23:21:44' '2021-11-12 04:22:01'
 '2021-11-13 04:21:38' '2021-11-14 04:21:31' '2021-11-15 04:21:36'
 '2021-11-16 04:21:10' '2021-11-17 04:21:48' '2021-11-18 04:21:33'
 '2021-11-19 04:21:40' '2021-11-20 04:22:17' '2021-11-21 04:22:13'
 '2021-11-22 04:22:20' '2021-11-23 04:22:39' '2021-11-24 04:22:14'
 '2021-11-25 04:22:33' '2021-11-26 04:22:33' '2021-11-27 04:22:45'
 '2021-11-28 04:22:43' '2021-11-29 04:22:30' '2021-11-30 04:22:53'
 '2021-11-29 23:22:46' '2021-12-01 04:22:29' '2021-12-02 04:22:37'
 '2021-12-03 04:23:05' '2021-12-04 04:22:18' '2021-12-05 04:22:25'
 '2021-12-06 04:22:34' '2021-12-07 04:22:34' '2021-12-08 04:22:46'
 '2021-12-09 04:22:49' '2021-12-10 04:22:28' '2021-12-11 04:22:45'
 '2021-12-12 04:22:12' '2021-12-13 04:22:02' '2021-12-14 04:22:38'
 '2021-12-15 03:22:16' '2021-12-16 04:22:11' '2021-12-15 23:22:13'
 '2021-12-17 04:22:14' '2021-12-18 02:22:20' '2021-12-19 04:21:11'
 '2021-12-20 04:21:43' '2021-12-19 23:20:51' '2021-12-21 03:21:27'
 '2021-12-22 04:21:54' '2021-12-23 04:21:21' '2021-12-24 04:21:34'
 '2021-12-25 04:21:37' '2021-12-26 04:21:50' '2021-12-27 04:21:58'
 '2021-12-28 04:21:47' '2021-12-29 03:21:43' '2021-12-30 04:21:25'
 '2021-12-31 04:21:50']
391

Отсекаем из поля даты значения времени (часы, минуты, секунды). Оставляем только дату:

In [13]:
%%time
# сначала преобразуем  в to_datetime с отсечением по дате
df_2['Date'] = pd.to_datetime(df_2['Date']).dt.date

# потом поле Дата обратно в формат str иначе не сработает функция абсолютного времени потом
df_2['Date'] = df_2['Date'].astype('str')

df_2 = df_2.sort_values(by='Date')

Wall time: 3.44 s

In [14]:
df_2

,FIPS,Admin2,Province_State,Country_Region,Date,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02,33.939110,67.709953,52513,2201,41727.0,8585.0,Afghanistan,134.896578,4.191343
2649,37157.0,Rockingham,North Carolina,US,2021-01-02,36.395931,-79.775048,4432,25,0.0,4407.0,"Rockingham, North Carolina, US",4869.794528,0.564079
2650,37159.0,Rowan,North Carolina,US,2021-01-02,35.640039,-80.524466,9017,168,0.0,8849.0,"Rowan, North Carolina, US",6346.067226,1.863147
2651,37161.0,Rutherford,North Carolina,US,2021-01-02,35.401142,-81.921121,4337,95,0.0,4242.0,"Rutherford, North Carolina, US",6470.333736,2.190454
2652,37163.0,Sampson,North Carolina,US,2021-01-02,34.988204,-78.369141,4912,61,0.0,4851.0,"Sampson, North Carolina, US",7731.658560,1.241857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451723,17123.0,Marshall,Illinois,US,2021-12-31,41.032790,-89.345104,1927,24,NaN,NaN,"Marshall, Illinois, US",16847.350935,1.245459
1451724,17125.0,Mason,Illinois,US,2021-12-31,40.239173,-89.918245,2704,53,NaN,NaN,"Mason, Illinois, US",20241.036006,1.960059
1451725,17127.0,Massac,Illinois,US,2021-12-31,37.220784,-88.710366,2631,58,NaN,NaN,"Massac, Illinois, US",19103.979088,2.204485
1451712,17095.0,Knox,Illinois,US,2021-12-31,40.931488,-90.213303,8838,184,NaN,NaN,"Knox, Illinois, US",17783.053985,2.081919
1451387,12007.0,Bradford,Florida,US,2021-12-31,29.950797,-82.166116,5401,58,NaN,NaN,"Bradford, Florida, US",19151.803128,1.073875

In [15]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1454386 entries, 0 to 1451387
Data columns (total 14 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   FIPS                 1186501 non-null  float64
 1   Admin2               1188963 non-null  object
 2   Province_State       1391070 non-null  object
 3   Country_Region       1454386 non-null  object
 4   Date                 1454386 non-null  object
 5   Lat                  1425121 non-null  float64
 6   Long_                1425121 non-null  float64
 7   Confirmed            1454386 non-null  int64
 8   Deaths               1454386 non-null  int64
 9   Recovered            369880 non-null   float64
 10  Active               369880 non-null   float64
 11  Combined_Key         1454386 non-null  object
 12  Incident_Rate        1424757 non-null  float64
 13  Case_Fatality_Ratio  1440314 non-null  float64
dtypes: float64(7), int64(2), object(5)
memory usage: 166.4+ MB

In [16]:
dates_unique_2 = df_2.Date.unique()
print(dates_unique_2)
print(len(dates_unique_2))

['2021-01-02' '2021-01-03' '2021-01-04' '2021-01-05' '2021-01-06'
 '2021-01-07' '2021-01-08' '2021-01-09' '2021-01-10' '2021-01-11'
 '2021-01-12' '2021-01-13' '2021-01-14' '2021-01-15' '2021-01-16'
 '2021-01-17' '2021-01-18' '2021-01-19' '2021-01-20' '2021-01-21'
 '2021-01-22' '2021-01-23' '2021-01-24' '2021-01-25' '2021-01-26'
 '2021-01-27' '2021-01-28' '2021-01-29' '2021-01-30' '2021-01-31'
 '2021-02-01' '2021-02-02' '2021-02-03' '2021-02-04' '2021-02-05'
 '2021-02-06' '2021-02-07' '2021-02-08' '2021-02-09' '2021-02-10'
 '2021-02-11' '2021-02-12' '2021-02-13' '2021-02-14' '2021-02-15'
 '2021-02-16' '2021-02-17' '2021-02-18' '2021-02-19' '2021-02-20'
 '2021-02-21' '2021-02-22' '2021-02-23' '2021-02-24' '2021-02-25'
 '2021-02-26' '2021-02-27' '2021-02-28' '2021-03-01' '2021-03-02'
 '2021-03-03' '2021-03-04' '2021-03-05' '2021-03-06' '2021-03-07'
 '2021-03-08' '2021-03-09' '2021-03-10' '2021-03-11' '2021-03-12'
 '2021-03-13' '2021-03-14' '2021-03-15' '2021-03-16' '2021-03-17'
 '2021-03-18' '2021-03-19' '2021-03-20' '2021-03-21' '2021-03-22'
 '2021-03-23' '2021-03-24' '2021-03-25' '2021-03-26' '2021-03-27'
 '2021-03-28' '2021-03-29' '2021-03-30' '2021-03-31' '2021-04-01'
 '2021-04-02' '2021-04-03' '2021-04-04' '2021-04-05' '2021-04-06'
 '2021-04-07' '2021-04-08' '2021-04-09' '2021-04-10' '2021-04-11'
 '2021-04-12' '2021-04-13' '2021-04-14' '2021-04-15' '2021-04-16'
 '2021-04-17' '2021-04-18' '2021-04-19' '2021-04-20' '2021-04-21'
 '2021-04-22' '2021-04-23' '2021-04-24' '2021-04-25' '2021-04-26'
 '2021-04-27' '2021-04-28' '2021-04-29' '2021-04-30' '2021-05-01'
 '2021-05-02' '2021-05-03' '2021-05-04' '2021-05-05' '2021-05-06'
 '2021-05-07' '2021-05-08' '2021-05-09' '2021-05-10' '2021-05-11'
 '2021-05-12' '2021-05-13' '2021-05-14' '2021-05-15' '2021-05-16'
 '2021-05-17' '2021-05-18' '2021-05-19' '2021-05-20' '2021-05-21'
 '2021-05-22' '2021-05-23' '2021-05-24' '2021-05-25' '2021-05-26'
 '2021-05-27' '2021-05-28' '2021-05-29' '2021-05-30' '2021-05-31'
 '2021-06-01' '2021-06-02' '2021-06-03' '2021-06-04' '2021-06-05'
 '2021-06-06' '2021-06-07' '2021-06-08' '2021-06-09' '2021-06-10'
 '2021-06-11' '2021-06-12' '2021-06-13' '2021-06-14' '2021-06-15'
 '2021-06-16' '2021-06-17' '2021-06-18' '2021-06-19' '2021-06-20'
 '2021-06-21' '2021-06-22' '2021-06-23' '2021-06-24' '2021-06-25'
 '2021-06-26' '2021-06-27' '2021-06-28' '2021-06-29' '2021-06-30'
 '2021-07-01' '2021-07-02' '2021-07-03' '2021-07-04' '2021-07-05'
 '2021-07-06' '2021-07-07' '2021-07-08' '2021-07-09' '2021-07-10'
 '2021-07-11' '2021-07-12' '2021-07-13' '2021-07-14' '2021-07-15'
 '2021-07-16' '2021-07-17' '2021-07-18' '2021-07-19' '2021-07-20'
 '2021-07-21' '2021-07-22' '2021-07-23' '2021-07-24' '2021-07-25'
 '2021-07-26' '2021-07-27' '2021-07-28' '2021-07-29' '2021-07-30'
 '2021-07-31' '2021-08-01' '2021-08-02' '2021-08-03' '2021-08-04'
 '2021-08-05' '2021-08-06' '2021-08-07' '2021-08-08' '2021-08-09'
 '2021-08-10' '2021-08-11' '2021-08-12' '2021-08-13' '2021-08-14'
 '2021-08-15' '2021-08-16' '2021-08-17' '2021-08-18' '2021-08-19'
 '2021-08-20' '2021-08-21' '2021-08-22' '2021-08-23' '2021-08-24'
 '2021-08-25' '2021-08-26' '2021-08-27' '2021-08-28' '2021-08-29'
 '2021-08-30' '2021-08-31' '2021-09-01' '2021-09-02' '2021-09-03'
 '2021-09-04' '2021-09-05' '2021-09-06' '2021-09-07' '2021-09-08'
 '2021-09-09' '2021-09-10' '2021-09-11' '2021-09-12' '2021-09-13'
 '2021-09-14' '2021-09-15' '2021-09-16' '2021-09-17' '2021-09-18'
 '2021-09-19' '2021-09-20' '2021-09-21' '2021-09-22' '2021-09-23'
 '2021-09-24' '2021-09-25' '2021-09-26' '2021-09-27' '2021-09-28'
 '2021-09-29' '2021-09-30' '2021-10-01' '2021-10-02' '2021-10-03'
 '2021-10-04' '2021-10-05' '2021-10-06' '2021-10-07' '2021-10-08'
 '2021-10-09' '2021-10-10' '2021-10-11' '2021-10-12' '2021-10-13'
 '2021-10-14' '2021-10-15' '2021-10-16' '2021-10-17' '2021-10-18'
 '2021-10-19' '2021-10-20' '2021-10-21' '2021-10-22' '2021-10-23'
 '2021-10-24' '2021-10-25' '2021-10-26' '2021-10-27' '2021-10-28'
 '2021-10-29' '2021-10-30' '2021-10-31' '2021-11-01' '2021-11-02'
 '2021-11-03' '2021-11-04' '2021-11-05' '2021-11-06' '2021-11-07'
 '2021-11-08' '2021-11-09' '2021-11-10' '2021-11-11' '2021-11-12'
 '2021-11-13' '2021-11-14' '2021-11-15' '2021-11-16' '2021-11-17'
 '2021-11-18' '2021-11-19' '2021-11-20' '2021-11-21' '2021-11-22'
 '2021-11-23' '2021-11-24' '2021-11-25' '2021-11-26' '2021-11-27'
 '2021-11-28' '2021-11-29' '2021-11-30' '2021-12-01' '2021-12-02'
 '2021-12-03' '2021-12-04' '2021-12-05' '2021-12-06' '2021-12-07'
 '2021-12-08' '2021-12-09' '2021-12-10' '2021-12-11' '2021-12-12'
 '2021-12-13' '2021-12-14' '2021-12-15' '2021-12-16' '2021-12-17'
 '2021-12-18' '2021-12-19' '2021-12-20' '2021-12-21' '2021-12-22'
 '2021-12-23' '2021-12-24' '2021-12-25' '2021-12-26' '2021-12-27'
 '2021-12-28' '2021-12-29' '2021-12-30' '2021-12-31']
364

In [17]:
%%time

#Добавляем сттолбец с абсолютным временем в датафрейм
df_2['Absolute_time'] = df_2['Date'].apply(abs_time)
df_2

Wall time: 22.4 s

,FIPS,Admin2,Province_State,Country_Region,Date,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Absolute_time
0,NaN,NaN,NaN,Afghanistan,2021-01-02,33.939110,67.709953,52513,2201,41727.0,8585.0,Afghanistan,134.896578,4.191343,1609534800
2649,37157.0,Rockingham,North Carolina,US,2021-01-02,36.395931,-79.775048,4432,25,0.0,4407.0,"Rockingham, North Carolina, US",4869.794528,0.564079,1609534800
2650,37159.0,Rowan,North Carolina,US,2021-01-02,35.640039,-80.524466,9017,168,0.0,8849.0,"Rowan, North Carolina, US",6346.067226,1.863147,1609534800
2651,37161.0,Rutherford,North Carolina,US,2021-01-02,35.401142,-81.921121,4337,95,0.0,4242.0,"Rutherford, North Carolina, US",6470.333736,2.190454,1609534800
2652,37163.0,Sampson,North Carolina,US,2021-01-02,34.988204,-78.369141,4912,61,0.0,4851.0,"Sampson, North Carolina, US",7731.658560,1.241857,1609534800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451723,17123.0,Marshall,Illinois,US,2021-12-31,41.032790,-89.345104,1927,24,NaN,NaN,"Marshall, Illinois, US",16847.350935,1.245459,1640898000
1451724,17125.0,Mason,Illinois,US,2021-12-31,40.239173,-89.918245,2704,53,NaN,NaN,"Mason, Illinois, US",20241.036006,1.960059,1640898000
1451725,17127.0,Massac,Illinois,US,2021-12-31,37.220784,-88.710366,2631,58,NaN,NaN,"Massac, Illinois, US",19103.979088,2.204485,1640898000
1451712,17095.0,Knox,Illinois,US,2021-12-31,40.931488,-90.213303,8838,184,NaN,NaN,"Knox, Illinois, US",17783.053985,2.081919,1640898000
1451387,12007.0,Bradford,Florida,US,2021-12-31,29.950797,-82.166116,5401,58,NaN,NaN,"Bradford, Florida, US",19151.803128,1.073875,1640898000

In [18]:
#сохраняем датасет под индексом 2
df_2.to_csv('joined_dataset_COVID_2.csv', index=False)

In [19]:
a = dates_unique_2
b = dates_unique_1

In [20]:
c = []
for x in a:
    if x in b:
        pass
    else:
        c.append(x)
c

['2021-10-04',
 '2021-10-05',
 '2021-10-06',
 '2021-10-07',
 '2021-10-08',
 '2021-10-09',
 '2021-10-10',
 '2021-10-11',
 '2021-10-12',
 '2021-10-13',
 '2021-10-14',
 '2021-10-15',
 '2021-10-16',
 '2021-10-17',
 '2021-10-18',
 '2021-10-19',
 '2021-10-20',
 '2021-10-21',
 '2021-10-22',
 '2021-10-23',
 '2021-10-24']

In [21]:
date_difference_1 = list(set(dates_unique_1) - set(dates_unique_2))
print(date_difference_1, 'Этих дат нет в joined_dataset_pollution, но есть в joined_dataset_COVID_1\n')
date_difference_2 = list(set(dates_unique_2) - set(dates_unique_1))
print(date_difference_2, 'Этих дат нет в joined_dataset_COVID_1, но есть в joined_dataset_pollution\n')
date_difference = date_difference_1 + date_difference_2
print(date_difference, '\n различие в списке дат в обоих датасетах, \n всего в', len(date_difference), 'случаях')

['2021-01-01'] Этих дат нет в joined_dataset_pollution, но есть в joined_dataset_COVID_1

['2021-10-14', '2021-10-07', '2021-10-21', '2021-10-18', '2021-10-13', '2021-10-08', '2021-10-12', '2021-10-09', '2021-10-05', '2021-10-11', '2021-10-10', '2021-10-19', '2021-10-22', '2021-10-15', '2021-10-17', '2021-10-23', '2021-10-20', '2021-10-06', '2021-10-24', '2021-10-16', '2021-10-04'] Этих дат нет в joined_dataset_COVID_1, но есть в joined_dataset_pollution

['2021-01-01', '2021-10-14', '2021-10-07', '2021-10-21', '2021-10-18', '2021-10-13', '2021-10-08', '2021-10-12', '2021-10-09', '2021-10-05', '2021-10-11', '2021-10-10', '2021-10-19', '2021-10-22', '2021-10-15', '2021-10-17', '2021-10-23', '2021-10-20', '2021-10-06', '2021-10-24', '2021-10-16', '2021-10-04']
 различие в списке дат в обоих датасетах,
 всего в 22 случаях